Sehr geehrte Kollegin, sehr geehrter Kollege, liebes Vereinsmitglied,<br/>
<br/>
In der Beilage finden Sie einen Zahlschein für den OVG-Mitgliedsbeitrag {{ ovg_subscription_year }}. Wir bitten Sie um Einzahlung bis {{ ovg_subscription_deadline }}. Wenn Sie für die Einzahlung Telebanking verwenden, geben Sie bitte "{{ ovg_member_id }}/{{ ovg_subscription_year }}" als Verwendungszweck bzw. Zahlungsreferenz an.
{% if ovg_news %}<br/><br/>
{{ ovg_news }}{% endif %}
<br/><br/>
{{ ovg_treasurer }}.
