services:
  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
      - POSTGRES_DB=${POSTGRES_DB} #optional (specify default database instead of $POSTGRES_DB)
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    restart: always

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "8010:80"
    restart: always


  backend:
    container_name: backend
    depends_on:
      - postgres
    image: members/backend
    env_file:
      - .env
    ports: 
      - "8020:8002"
    volumes:
      - ./backend/mitgliederverwaltung:/usr/src/app
    restart: always


  frontend:
    container_name: frontend
    image: members/frontend
    env_file:
     - .env
    ports: 
     - "8030:8030"
    restart: always

  nginx:
    container_name: nginx
    image: members/nginx
    ports:
      - "8040:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/build:/usr/share/nginx/html:ro
    restart: always
