<b>
    Diese Rechnung enthält gem. §§ 34 ff. BAO keine Umsatzsteuer
</b>
<br/><br/>
Wir ersuchen Sie den Rechnungsbetrag unter Angabe der Rechnungsnummer "{{ invoice_reference }}" 
auf unser in der Fußzeile genanntes Konto zu überweisen. Sollten Sie Fragen haben, können Sie uns jederzeit unter
obigen Kontaktdaten erreichen.
<br/><br/><br/>
{{ ovg_treasurer }}.
