{{ greetings }},
<br/><br/>
Ihr {{ anniversary }}. Geburtstag ist uns der willkommene Anlass, Ihnen im Namen unserer Gesellschaft vom gesamten Vorstand die herzlichsten Glückwünsche zu übermitteln. Wir wünschen Ihnen noch viele Jahre voll Lebensfreude, sowie viel Glück und persönliches Wohlergehen!
<br/><br/>
Wir hoffen, dass Sie auch weiterhin am Wirken unseres Vereines Anteil nehmen und zeichnen mit freundlichen Grüßen für die Österreichische Gesellschaft für Vermessung und Geoinformation.